
build/

hw/hw06/9.MergeSort/test/test.0.in

hw/hw06/9.MergeSort/test/test.0.out

hw/hw06/9.MergeSort/test/test.1.in

hw/hw06/9.MergeSort/test/test.1.out

hw/hw06/9.MergeSort/test/test.2.in

hw/hw06/9.MergeSort/test/test.2.out

hw/hw06/9.MergeSort/test/test.3.in

hw/hw06/9.MergeSort/test/test.3.out
